<!DOCTYPE HTML>
<!-- site pessoal -->
<html lang="pt-br">
<head>
    <title>Perfil - Edgar Hygino</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br, en-US,"/>
    <meta name="description" content="Perfil pessoal e profissional"/>
    <meta name="author" content="Edgar Hygino"/>
    <meta name="keywords" content="devenvolvedor, web, front-end, marketing digital"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="copyright" content="©2020 Edgar Hygino"/>

</head>
<body>
<!-- Header -->
        <header id="header">
            <div >
                <div id="top">
                <img src="imagens/perfiled.jpg" class="imgperfil" alt="Edgar Hygino">
                </div>
                <div id='nome'>
                      <h1 >Edgar Hygino<br>
                        <span>Desenvolvedor Front-End</small>
                    </h1>
                </div>
                <div id="estiloVida">
            <p>Amo café, vigens, series, games e familia.</p>
                </div>        
            </div>            
        </header>
<!-- Navegador-->

        <div id="nav">
            <nav class="nav">
                <a href="index.html" title="Pagina inicial">Home|</a>   <br>
                <a href="#"title="Portfolio">Sobre min |</a><br>
                <a href="#"title="Serviços">Serviços</a><br>
            </nav>  
        </div>

<!--blog-->

        <div id="center">
            <div id='main'>
            <p>edgar 
                Blog de conteudo</p>
            v
            <p>Blog de conteudo</p><p>Blog de conteudo</p><p>Blog de conteudo</p><p>Blog de conteudo</p>
            v

            v<p>Blog de conteudo</p><p>Blog de conteudo</p><p>Blog de conteudo</p>
            <p>Blog de conteudo</p>
            <p>Blog de conteudo</p>
            <p>Blog de conteudo</p>

            <p>Blog de conteudo</p>
            <p>Blog de conteudo</p>

            <p>Blog de conteudo</p>
            <p>Blog de conteudo</p>
            <p>Blog de conteudo</p>
            <p>Blog de conteudo</p>

            <p>Blog de conteudo</p>
            <p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad perspiciatis modi nesciunt distinctio aspernatur doloremque. Tenetur neque harum error quos odio saepe hic quas. Temporibus qui ipsum consequatur non tempore. 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, at. Dolores aliquid et voluptatibus accusamus autem, nobis deserunt dignissimos, maxime voluptatem veniam necessitatibus praesentium temporibus nisi iure dolorum rerum cupiditate!
   <p>Blog de conteudo</p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, dolorem odio rem praesentium officia est in corrupti? Molestiae nobis deserunt maxime. Aliquid eius facere voluptas deserunt sapiente nam dolorum tenetur!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum velit id voluptatum quas repellendus necessitatibus accusantium illum doloribus quae cupiditate cumque, sunt officia, eaque ad! Quod maxime molestias cumque.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sapiente vero praesentium quibusdam in asperiores velit repudiandae libero, culpa similique quae reiciendis. Exercitationem repellendus neque voluptatem laborum eaque quia magnam.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat error nobis omnis magni impedit explicabo sed suscipit commodi et, iusto eveniet reprehenderit asperiores maxime, nostrum, facere similique minus ad sunt!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae provident odit quo, molestiae nobis debitis fugiat quaerat. Temporibus velit sit aliquam nisi dignissimos praesentium provident tenetur! Voluptatum, dolore suscipit?
            <p>Blog de conteudo</p>

            Hygino
</p></div>
<!-- Rodapé-->
       
<footer>
    <div id="footer">

        <p>Direitos autorais</p>
    </div>

</footer>
</div>

</body>

</html>