<!DOCTYPE HTML>
<!-- site pessoal -->
<html lang="pt-br">
<head>
    <title>Perfil - Edgar Hygino</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br, en-US,"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="Perfil pessoal e profissional"/>
    <meta name="author" content="Edgar Hygino"/>
    <meta name="keywords" content="devenvolvedor, web, front-end, marketing digital"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/midia.css"/>
    
    <meta name="copyright" content="©2020 Edgar Hygino"/>

</head>
<body>

<!-- Header -->
        <header id="header">
            <div >
                <div id="top">
                <img src="imagens/perfiled.jpg" class="imgperfil" alt="Edgar Hygino">
                </div>
                <div id='nome'>
                      <h1 >Edgar Hygino<br>
                        <h2><span>Desenvolvedor Front-End</span></h2>
                    </h1>
                </div>
                <div id="estiloVida">
            <p>Amo café, vigens, series, games e familia.</p>
                </div>                 
            </div>            
        </header>
<!-- Navegador left, midia-up-->


<div id="nav">
    
    <div class='menulink'>
       <li><a href="#" title="Sobre min">Sobre mim</a></li>
       <li><a href="#" title="Projetos">Projetos</a></li>
       <li><a href="#" title="Contato">contato</a></li>
    </div>      
</div>

<!-- Navegador right, midia-down-->

        <div id="icon_nav">
            <nav class="nav">
                <div class="casa">
                <a href="#"title="Home"><img src="imagens/icon/icons8-casa-50-2.png"  class="icon0" alt="Home"></a>
                </div>
                <div class="redesociais">
                <a href="https://github.com/EdgarHygino" title="Github"  target="_blank">
                    <img src="imagens\icon\icons8-github-50.png"  class="icon" alt="Github">
                 </a>
                <a href="https://www.linkedin.com/in/edgar-hygino-1857ba28/" title="Linkedin" target="_blank">
                    <img src="imagens/icon/icons8-linkedin-circundado-50.png"  class="icon" alt="Linkedin">
                </a>
                <a href="https://www.instagram.com/edgarhygino/" title="Intagram" target="_blank">
                    <img src="imagens/icon/icons8-instagram-50.png"  class="icon" alt="Intagram">
                </a>
                <a href="https://www.facebook.com/edgar.hygino" title="Facebook" target="_blank">
                    <img src="imagens/icon/face black.png"  class="icon" alt="Facebook">
                </a>
                <a href="https://twitter.com/edgarhygino" title="Twitter" target="_blank">
                    <img src="imagens/icon/icons8-twitter-50.png"  class="icon" alt="Twitter">
                </a>
            </div>
            <div class="luz">
                <a href="#" title="Twitter" target="_blank">
                    <img src="imagens/icon/icons8-ligar-50.png"  class="icon" alt="Twitter">
                </a>
            </div>
            </nav>  
            
        </div>

<!--conteudo-->

        <div id="center">
            <div class=tabela_grid>
                
                
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>

                            
                            <th>oloco meu </th>
                            <th>oloco meu </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Oloco meu</td>
                            <td>Oloco meu</td>
                        </tr>
                    </tbody>
                </table>
                


            </div>


            <div id='main'>
            <p>Olá, meu nome é <strong>Edgar Hygino</strong>, tenho 32 anos e moro na região do guarujá.</p>
            <p>Amo café, viajar, series, games e familia, ando de patins e adoro programar!</p>

            <p>Comecei a desenvolver web site em meados de 2007, quando meu tio abriu uma empresa de representações.</p>
            <p>No começo não sabia nada de HTML e para entender começei a olhar os códigos fontes de varios web sites, logo de começo amei os códigos e entendia cada linha com facilidade.</p> 
            <p>Comecei a desenvolver sites para os comerciantes locais e amigos com projetos pessoais.</p>
            <p>Em meados de 2009 omeçei a trabalhar em uma empresa metalurgica onde fui me afastando os poucos do mundo da programação conforme ia crescendo profissionalmente, porém me envolvi em projetos de implementação de sistema e pude olhar e trabalhar com um desenvolvedor que trabalhava com <strong>GeneXus</strong> e pode aprender bastante em <strong>comando SQL</strong> para consultas no banco de dados, e após 10 anos nessa empresa decidi por retornar para o mundo da programação. </p>

            <p>Possuo experiência no desenvolvimento de sites web utilizando,<strong>HTML, CSS, JavaScript, Git.</strong> </p>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro hic reprehenderit aut nihil. Perspiciatis magni laudantium deleniti itaque. Animi repudiandae explicabo recusandae suscipit voluptas nostrum nemo ut libero corporis minima.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias rem a quasi modi, beatae architecto quam. Vero qui ex natus ad asperiores modi doloribus dicta unde eum? Repellendus, hic laudantium!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam maiores hic natus eaque rerum voluptate sint dignissimos deserunt dolore nihil. Quisquam sint sed possimus facere doloribus veniam quos porro deleniti?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio error a veniam enim distinctio cumque? Blanditiis, at! Amet, molestiae dicta veritatis maiores aperiam culpa iure odit. In consectetur error consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veniam, at itaque culpa provident minima ducimus nulla aperiam corrupti ipsum sapiente dolorem ipsa neque, ipsam, ab unde laborum eaque laudantium?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, soluta. Beatae blanditiis aliquam dolor, accusantium ut suscipit impedit nam nostrum possimus ad consequuntur alias magni quam dignissimos nihil cum molestias?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam minus laudantium optio, eveniet aliquam cum laborum enim nostrum voluptates id incidunt, quis fugiat nisi soluta, vero quos ea rem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde totam ipsa eligendi reprehenderit ipsam et rerum repudiandae suscipit dignissimos dolor aperiam, quaerat amet maiores soluta libero, laudantium mollitia. Error?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores illum voluptatem, labore harum reiciendis necessitatibus, dolor ea consectetur atque expedita tempora, exercitationem impedit porro ut? Vitae in tempora accusamus voluptates!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, iste, dignissimos optio doloribus necessitatibus fugiat iure voluptates distinctio reprehenderit fugit esse minima veritatis alias perferendis obcaecati eius enim, cupiditate libero.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur totam iste repellat blanditiis consequuntur exercitationem magnam tempore dolore eveniet deleniti quam suscipit, veniam placeat cumque voluptate. Odit dignissimos repellendus labore.
            
                
                Ficou interessado? Entre em contato comigo.

            </div>
<!-- Rodapé-->
       
<footer>
    <div id="footer">

        <p>Direitos autorais</p>
    </div>
</footer>
        </div>



</body>

</html>